/* Sélecteur universel qui s'applique à tous les éléments */
* {
    margin: 0;
    /* Réinitialise la marge externe de tous les éléments à 0 */
    padding: 0;
    /* Réinitialise la marge interne de tous les éléments à 0 */
    box-sizing: border-box;
    /* Fait en sorte que la largeur et la hauteur incluent le contenu, les bordures et le padding */
}

h1 {
    color: blue;
}